@import "tailwindcss";

@font-face {
  font-family: "Viaoda Libre";
  src: url("/fonts/ViaodaLibre-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Rouge Script";
  src: url("/fonts/RougeScript-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}


@theme {
  --font-viaoda-libre: "Viaoda Libre", serif;
  --font-rogue-script: "Rouge Script", cursive;
  --color-dark-brown: #583e29;
  --color-muted-brown: #826e5f;
  --color-olive-gray: #666765;
}

@keyframes frame-appear {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}